{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "cdn/cdn.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body class="bg-gray-50">

    {% include "share/navbar.html" %}

    <div class="min-h-screen flex">
        <!-- Sidebar -->
       <aside>
        <nav>
            <div class="bg-gray-300 p-5 h-screen">
                <h2 class="text-2xl t text-gray-700"> Menu </h2>
                <menu>
                <a href="#" class="block py-2 px-4 text-cyan-700 rounded-lg mb-2">Profile</a>
                <a href="{% url 'edit_profile' %}" class="block py-2 px-4 text-cyan-700  rounded-lg mb-2">Edit Profile</a>
                <a href="{% url 'password_change' %}" class="block py-2 px-4 text-cyan-700 rounded-lg">Change Password</a>
            </menu>
        </div>
        </nav>

       </aside>
        <!-- Main Content -->
        <main class="flex-1 bg-white shadow-lg p-8">
            <h1 class="text-3xl font-semibold text-gray-800 mb-6">User Profile</h1>

            <!-- Profile Card -->
            <div class="flex items-center mb-8">

               {% if profile_image.url %}
               <img src="{{profile_image.url}}" alt="User Avatar" class="w-32 h-32 rounded-full object-cover border-4 border-gray-200 shadow-lg mr-6">
               {% else %}
               <img src="  https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="User Avatar" class="w-32 h-32 rounded-full object-cover border-4 border-gray-200 shadow-lg mr-6">
             
               {% endif %}

            </div>

            <!-- Personal & Account Info -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Personal Information -->
                <div>
                    <h3 class="text-lg font-semibold text-gray-700 mb-2">Personal Information</h3>
                    <p class="text-gray-600"><span class="font-medium">Email:</span> {{ email }}</p>
                    <p class="text-gray-600"><span class="font-medium">Username:</span> {{ username }}</p>
                </div>

                <!-- Account Information -->
                <div>
                    <h3 class="text-lg font-semibold text-gray-700 mb-2">Account Information</h3>
                    <p class="text-gray-600"><span class="font-medium">Member Since:</span> {{ member_since|humanized_date }}</p>
                    <p class="text-gray-600"><span class="font-medium">Last Login:</span> {{ last_login|humanized_date }}</p>
                </div>
            </div>

            <!-- Bio -->
            <div class="mt-8">
                <h3 class="text-lg font-semibold text-gray-700 mb-2">Phone number</h3>
                <p class="text-gray-600">{{ phone_number }}</p>
            </div>
        </main>
    </div>

    {% include "share/footer.html" %}
</body>
</html>
