<div class="mx3">
    
<table class="table-auto w-full my-16 border-collapse border border-gray-200 shadow-lg rounded-lg text-center">
    <thead class="bg-blue-500 text-white text-center">
        <tr>
            <th class="px-6 py-3 border border-gray-300 text-left">Number</th>
            <th class="px-6 py-3 border border-gray-300 text-left">Name</th>
            <th class="px-6 py-3 border border-gray-300 text-left">Username</th>
            <th class="px-6 py-3 border border-gray-300 text-left">Email</th>
            <th class="px-6 py-3 border border-gray-300 text-left">User ID</th>
            <th class="px-6 py-3 border border-gray-300 text-left">Current Role</th>
            <th class="px-6 py-3 border border-gray-300 text-left">Action</th>
        </tr>
    </thead>


    <tbody class="bg-white divide-y divide-gray-200">
      {% for user in  users %}
        <tr class="hover:bg-blue-100 transition">
            <td class="px-6 py-4 border border-gray-300">{{forloop.counter}}</td>
            <td class="px-6 py-4 border border-gray-300">{{user.first_name}} {{user.last_name}}</td>
            <td class="px-6 py-4 border border-gray-300">{{user.username}}</td>
            <td class="px-6 py-4 border border-gray-300">{{user.email}}</td>
            <td class="px-6 py-4 border border-gray-300">{{user.id}}</td>
            <td class="px-6 py-4 border border-gray-300">{{user.groups.first.name | default:"No Group Assigned"}}</td>
            <td class="px-6 py-4 border border-gray-300">
                <a href="{%  url 'assign-role' user.id %}" class="px-2 py-2 rounded-full bg-blue-600 text-white text-center hover:cursor-pointer">
                    Change Role
                </a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>