<!DOCTYPE html>
<html lang="en">
<head>
    {% include "cdn/cdn.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Participant</title>
</head>
<body>
    {% include "share/navbar.html" %}
   
    <div class='w-6/12 mx-auto my-9 text-gray-700'>
        <div class="flex items-center justify-center min-h-screen">
            <form method="POST" action="{% url 'add_participant' %}" class="bg-white shadow-lg rounded-lg p-8 w-2xl" enctype="multipart/form-data">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Add Participant</h2>
                {% csrf_token %}
                <div class="space-y-4">
                    <label for="username" class="block text-gray-700 font-medium mb-1">Username</label>
                    {{ form.username }} 
                </div>

                <div class="space-y-4">
                    <label for="first_name" class="block text-gray-700 font-medium mb-1">First Name</label>
                    {{ form.first_name }} 
                </div>

                <div class="space-y-4">
                    <label for="last_name" class="block text-gray-700 font-medium mb-1">Last Name</label>
                    {{ form.last_name }} 
                </div>

                <div class="space-y-4">
                    <label for="email" class="block text-gray-700 font-medium mb-1">Email</label>
                    {{ form.email }} 
                </div>

                <div class="space-y-4">
                    <label for="phone_number" class="block text-gray-700 font-medium mb-1">Phone Number</label>
                    {{ form.phone_number }} 
                </div>

                <div class="space-y-4">
                    <label for="password1" class="block text-gray-700 font-medium mb-1">Password</label>
                    {{ form.password1 }} 
                </div>

                <div class="space-y-4">
                    <label for="confirm_password" class="block text-gray-700 font-medium mb-1">Confirm Password</label>
                    {{ form.password2 }} 
                </div>

                <div class="space-y-4">
                    <label for="profile_image" class="block text-gray-700 font-medium mb-1">Profile Image</label>
                    {{ form.profile_image }} 
                </div>

                {% if "Organizer" in request.user.groups.all|join:"," %}
                <div class="space-y-4">
                    <label for="event_assign" class="block text-gray-700 font-medium mb-1">Event Assign</label>
                    {{ form.event_assign }} 
                </div>
                {% endif %}

                <!-- Error messages -->
                {% if form.errors %}
                <div class="text-red-500">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|title }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <button type="submit" class="w-full bg-blue-500 text-white py-2 mt-6 rounded-lg hover:bg-blue-600 transition">
                    Add Participant
                </button>
            </form>
        </div>
    </div>
    
    <div>
        {% include "share/footer.html" %}
    </div>
</body>
</html>