
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "cdn/cdn.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participants</title>
</head>
<body>
    {% include "share/navbar.html" %} 
    {% block content %}
    <h1 class="text-2xl font-bold ms-4 my-4 text-white">Participants List </h1>
    <a href="{% url 'add_participant' %}" class="bg-blue-500 ms-4  text-white px-4 py-2 rounded">Add Participant</a>
   <div  class="h-auto mx-5">
    <table  class="table-auto w-full border-collapse my-4 text-white font-bold">
        <thead class="text-white">
            <tr class="bg-gray-400">
                <th class="border px-4 py-2">Name</th>
                <th class="border px-4 py-2">Email</th>
                <th class="border px-4 py-2">Phone Number</th>
                <th class="border px-4 py-2">Profile</th>
                <th class="border px-4 py-2" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for participant in participants %}
            <tr class="hover:bg-gray-500">
                <td class="border px-4 py-2">{{ participant.first_name }} {{ participant.last_name }}</td>
                <td class="border px-4 py-2">{{ participant.email }}</td>
                <td class="border px-4 py-2">{{ participant.phone_number }}</td>
                <td class="border px-4 py-2">
                    <img src="{{participant.profile_image.url}}" alt="profile image" class="h-20 w-20 mx-auto rounded-full ring-4 ring-green-300"/>
                </td>
                <td class="border px-4 py-2">
                    <a href="{% url 'participant_update' participant.id %}" class="text-blue-500 text-xl"><i class="fa-solid fa-pen-to-square"></i></a> 
                </td>
                <td class="border px-4 py-2">
                <a href="{% url 'participant_delete' participant.id %}" class="text-red-500  text-xl"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center py-4">No participant found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </div>
    {% endblock %}
   
    {% include "share/footer.html" %}
</body>
</html>