<!DOCTYPE html>
<html lang="en">
<head>
    {% include "cdn/cdn.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
</head>
<body>
    {% include "share/navbar.html" %}

    <div class="container mx-auto my-16 w-6/12">
        <form method="post" action="{% url 'event_update' %}"  class="text-green-500 text-2xl font-bold shadow-2xl shadow-green-300 rounded-2xl p-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="p-3 rounded-xl w-full bg-blue-700 font-bold text-white text-center my-4">
                Save Event
            </button>
        </form>
    </div>

    {% include "share/footer.html" %}
</body>
</html>
